@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,600,800);
body, ul, li {
   margin: 0;
   padding: 0;
   font-weight: 200;
   font-size: 1em;
   font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

 body{
  background-image: url(../image/marco_orange3.jpg);
  /*background-repeat: no-repeat;*/
  background-size: cover;

 }

h1{	
  color: white;
  font-size: 1.75em;
  margin: 0;
}

h2{
  color: white;
  font-size: 1.5em;
  margin: 0;
}

h6{
  color: white;
  font-size: 0.65em;
  margin: 0;
}

a{
  font-size: 1em;
  cursor: pointer;
  user-select: none;
}

#main-wrapper{
  position: relative;
  min-height: 100vh;
}

header {
  position: relative;
  height: 4.5em;
  padding-left: 10em;
  background-image: linear-gradient(to bottom, #0a5c71, #000000);
}

body div#main-wrapper main aside nav{
  padding-top: 2em;
}

body div#main-wrapper main aside nav li{
  list-style: none;
  margin: 0.5em;
}

body div#main-wrapper main aside nav li a{
  text-decoration: none;
  font-size: 1.4em;
  color: white;
  -webkit-text-stroke: 1.5px black;
  font-family: roboto, sans-serif;
}

body div#main-wrapper main aside nav li a:hover {
  color:aquamarine;
  transition: color 1s;
}

main {
  padding-bottom: 30px;
  width: 90%;
  margin: 4em auto 0;
}
main:after{
  content: "";
  height: 30px;
  display: block;
  padding-bottom: 20px;
  clear: both;
}

footer {
  background: #333333;
  padding: 0.5em 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 2.5em;
}

footer li {
  display: inline-block;
  padding: 0 10px;
}

footer li a img {
  width: 1.5em;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 20px;
}

html body div#mian-wrapper footer ul li a h6{
	margin: 0;
}

@media (max-width: 600px) {
  body{
    font-size: 1.3em;
  }

  a{
    min-width: 40px;
    min-height: 40px;
  }
}
